{
  "presets": [
    "react",
    "flow",
    ["env", {
      "useBuiltIns": true,
      "targets": {
        "browsers": [
          "ie >= 11"
        ]
      },
      "modules": false,
      "loose": true,
    }]
  ],
  "ignore": [
    "node_modules"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-function-bind",
    "transform-class-properties"
  ]
}
